body {
  font-family: 'Times New Roman', Times, serif;
}

.container{
  width:300px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap:10px;
}

input{
  padding:8px;
}

button{
  padding:8px;
  cursor:pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}