body{
  font-family: 'Times New Roman', Times, serif;
  padding:20px;
}
.todo-list{
  display:grid;
  gap:12px;
}

.todo-card{
  padding:12px;
  border: 1px solid #ccc;
  text-decoration: none;
  color:black;
  border-radius: 6px;
}